.contenedor-categoria{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
}

.categorias{
    margin: 60px 0px;
}

.contenedor-categoria:hover{
    cursor: pointer;
}

.imagen-categoria{
    height: 250px;
    width: 350px;
}

.titulo-categoria{
    padding: 10px 0px 10px 0px;
    text-align: center;
    color: black;
}

.categoria-cards{
    text-decoration: none;
}

@media (max-width: 380px) {
    .imagen-categoria {
        height: 197px;
        width: 277px;
    }
}