.producto-detalle{
    margin: 100px 50px 0px 50px;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    box-shadow: 2px 3px 16px 8px rgba(0,0,0,0.05);
}

.producto-detalle img{
    height: 400px;
    width: 400px;
}

.detalle{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 40px 20px;
}

.detalle-title{
    color: rgb(25, 25, 25);
    font-weight: 600;
}

.detalle-description{
    margin-bottom: 20px;
}

.detalle-price{
    color: #cc0c1a;
}

.itemCount-container{
    display: flex;
    flex-direction: row;
    margin-top: 70px;
}

.contador-container{
    display: flex;
    flex-direction: row;
}

.itemCount-container p{
    font-size: 0.85em;
    padding-top: 10px;
}

.contador{
    margin: 0px 10px;
    border: 1px solid rgb(80, 80, 80, 0.7);
}

.contador button{
    padding: 10px;
    background-color: white;
    border: none;
}

.contador span{
    margin: 10px 20px;
}

.añadirCarrito-boton{
    background-color: #cc0c1a;
    border: none;
    padding: 0px 15px 0px 10px ;
    color: white;
    font-size: 0.7em;
    cursor: pointer;
}

.añadirCarrito-icono{
    color: white;
}

.aparecerLinks{
    margin-top: 70px;
}

.aparecerLinksBoton{
    text-decoration: none;
    font-size: 0.8em;
    padding: 10px;
    font-weight: 300;
}

.seguirComprando{
    color: black;
    border: 1px solid rgb(80, 80, 80, 0.7);
}

.verCarrito{
    border: none;
    background-color: #cc0c1a;
    margin-left: 10px;
    color: white;
}

@media (max-width: 910px) {
    .producto-detalle img {
        height: 350px;
        width: 350px;
    }
    .detalle {
        padding: 40px 10px;
    }
}
@media (max-width: 830px) {
    .itemCount-container{
        flex-direction: column;
        align-self: center;
        margin-top: 30px;
    }
    .añadirCarrito-boton{
        margin-top: 10px;
    }
}
@media (max-width: 740px) {
    .aparecerLinks {
        margin-top: 29px;
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    .verCarrito {
        margin-top: 10px;
    }
}
@media (max-width: 700px) {
    .producto-detalle {
        margin: 100px 20px 0px 20px;
    }
    .producto-detalle img {
        height: 300px;
        width: 300px;
    }
    .detalle {
        padding: 30px 10px;
        align-items: center;
    }
}
@media (max-width: 550px) {
    .producto-detalle{
        flex-direction: column;
        align-items: center;
    }
}