.titulo-home{
    margin: 40px 0px 10px 0px;
    color: #cc0c1a;
    text-align: center;
}

@media (max-width: 500px) {
    .hero-home{
        display: none;
    }
    .titulo-home{
        margin: 100px 0px 10px 0px;
        font-size: 1.7em;
    }
}