@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fascinate&family=Hind+Siliguri:wght@300&family=Inconsolata:wght@200&family=Inter:wght@100&family=Kanit:wght@500;600&family=League+Gothic&family=Montserrat:wght@100;500&family=Oswald:wght@500;600;700&family=Poppins:wght@300;400;500;600;700;800;900&family=Raleway:wght@100&family=Roboto+Slab:wght@100&family=Roboto:wght@100&family=Staatliches&family=Ubuntu:wght@300&display=swap');

.appbar{
    background-color: rgb(250, 250, 250);
}

.menuHamburguesa-icono{
    margin-left: auto;
}

.logo{
    font-weight: 800;
    font-size: 2em;
    color: rgb(224, 151, 25);
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    margin-bottom: 5px;
}

.logo-text{
    color: rgb(224, 151, 25);
    text-decoration: none;
    position: relative;
    z-index: 10000;
}

.logo-img{
    text-decoration: none;
    position: relative;
    right: 13px;
    top: 7px;
}

.logo-img img{
    width: 70px;
    height: 50px;
}

.categoria{
    text-decoration: none;
    color: #cc0c1a;
    font-size: 0.9em;
}

.categoria .categoria-tab{
    font-family: 'Poppins', sans-serif;
}

.categoria:hover{
    background-color: #cc0c1911;
    border-radius: 10px;
}

.search{
    color: #cc0c1a;
}

.search-container{
    margin: 20px 0px;
}

.categorias-drawer{
    padding: 15px 0px 0px 15px;
    color: rgb(144, 144, 144);
    font-size: 0.9em;
    border-top: 1px solid rgb(144, 144, 144) ;
}

/* media queries */
@media (max-width: 1200px) {
    .navbar-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo-p{
        order: 2;
        margin: 0px 42px;
    }
    .menuHamburguesa-icono{
        order: 1;
        margin: 0;
        position: relative;
        top: 4px;
    }
    .cartWidget-icono{
        order: 3;
        position: relative;
        top: 2px;
    }
}
@media (max-width: 500px) {
    .logo{
        font-size: 1.7em;
    }
    .logo-img{
        right: 11px;
        top: 6px;
    }
    .logo-img img{
        width: 60px;
        height: 42px;
    }
}