.contenedor-universoBebe{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
}

.contenedor-universoBebe:hover{
    cursor: pointer;
}

.imagen-universoBebe{
    height: 220px;
    width: 370px;
    border-radius: 5px;
}

.contenedor-tituloUniversoBebe{
    background-color: #fff;
    padding: 15px;
    position: absolute;
    top: 70px;
    left: 10px;
    font-size: 0.9em;
    width: 150px;
}

